<template>
  <div class="home">
    <!-- <button @click="agregarProducto">Agregar producto</button> -->
    <HomeLayoutVue />
  </div>
</template>

<script>
// @ is an alias to /src
import HomeLayoutVue from '@/layouts/HomeLayout.vue';
export default {
  name: 'HomeView',
  components: {HomeLayoutVue},
  data() {
    return {

    }
  },
  methods: {
    agregarProducto () {
      this.$store.state.carrito += "Nuevo producto";
    }
  }
}
</script>
