<template>
    <div>
        <header>
            <nav class="navContainer">
                <div class="brand">
                    <img src="https://www.seekpng.com/png/detail/335-3351345_store-vector-icon-retail-store-retail-vector.png" alt="imagen" class="logo">
                </div>
                <div class="searchBar">
                    <input v-model="producto" v-on:keyup="buscarProducto()"  type="text" placeholder="Buscar producto..." >
                </div>
                <div class="textContainer">
                    <ul class="listContainer">
                        <li>option 1</li>
                        <li>option 2</li>
                        <li>option 3</li>
                        <li>option 4</li>
                        <li>option 5</li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</template>

<script>
export default {
    data () {
        return {
            producto: ""
        }
    },
    computed: {
        async buscarProducto () {

        return await this.$store.state.productos.filter((producto) => {
            return producto.title.includes(this.producto)
        })
        this.$forceUpdate(this.$store.state.productos)
        
    }
}
}

</script>

<style>

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand img{
    max-width: 100px;
}

.listContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.listContainer li{
    text-decoration: none;
}
</style>