<template>
    <div>
        <div class="catalogo">
            <div class="productoWrapper" v-for="(el, i) in misProductos" :key="i">
                <div class="imagen">
                    <img :src="el.image" alt="imagen" class="itemImage">
                </div>
                <div class="content">
                    <h3>{{el.title}}</h3>
                </div>
                <button class="agregarCarrito">Agregar al carrito</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        computed: {
            misProductos () {
                return this.$store.state.productos
            }
        }
    }
</script>

<style>
.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}
.productoWrapper {
    max-width: 250px;
    width: 100%;
}

.imagen {
    max-height: 200px;
    height: 100%;
}

.itemImage {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}
</style>