<template>
    <div>
        <NavBarVue />
        <ProductoVue />
    </div>
</template>

<script>
import ProductoVue from '@/components/Producto.vue';
import NavBarVue from '@/components/NavBar.vue';
    export default {
        name: "HomeLayout",
        components: {ProductoVue, NavBarVue},
        data () {
            return {
                productos: []
            }
        },  
        beforeCreate() {
            fetch('https://fakestoreapi.com/products')
            .then(res=>res.json())
            .then(json=> this.$store.state.productos = json )
        }
    }
</script>s